.about-header {
    position: relative;
    width: 100%;
    height: 20rem;
    background: url('/static/images/about-bg.jpg') no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.about-textStyle {
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
    font-family: sans-serif;
    margin: 0 auto 5% auto;
}

.subtitle {
    font-size: 30px;
}

.card-style {
    width: 400px;
    margin: 0;
    height: 80px;
    border: 0;
    border-radius: 5%;
    background-color: crimson;
}

.management-title {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    font-weight: 500;
    color: rgb(20, 220, 127);
}

.jobs-header {
    position: relative;
    width: 100%;
    height: 29.5rem;
    background: url('/static/images/careers.png') no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.news-header {
    position: relative;
    width: 100%;
    height: 20rem;
    background: #3b0653;
    background-attachment: fixed;
    background-size: contain;
}

.ps {
    position: absolute;
    top: 20%;
    left: 65%;
    font-size: 200px;
}

.ps-bold {
    position: relative;
    top: 15%;
    left: 50%;
    font-weight: 800;
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
}



.top-m {
    margin-top: 5%;
}

.b-weight {
    width: 130px;
    height: auto;
}

.img-center {
    width: 150px;
    height: auto;
    margin: 30px auto 20px auto;
}

.card-center {
    margin-left: auto;
    margin-right: auto;
}

.upload-sucess {
    margin-top: 30%;
    width: 200px;
    height: auto;
    position: relative;

}

.j-ul {
    list-style: none;
    position: relative;
    left: -2%;
}

.j-box {
    width: 70px;
    height: 80px;
    background-color: white;
    border: 3px solid black;
}

.j-box1 {
    position: absolute;
    left: 0%;
    width: 100%;
    height: auto;
    margin: 2.5% 10% 0 0; 
    padding: 1%;
    background-color: rgb(245, 227, 125);
    -webkit-box-shadow: 10px 2px 17px -7px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 10px 2px 17px -7px rgba(0, 0, 0, 0.63);
    box-shadow: 10px 2px 17px -7px rgba(0, 0, 0, 0.63);
}
.j-positionBox{
    width: 50px;
    height: auto;
    margin: 15% auto 0 auto;
}
.j-img-size{
    width: 50px;
    height: auto;
}
.j-top-m{
    margin-top: 10%;
}
.error {
    color: red;
    margin-left: 5px;
  }
   
label.error {
    display: inline;
  }