@media screen and (min-width:544px){
    header{
        height: 4.5rem;
    }
    .logo{
        margin-left: 4%;
        height: 5rem;
    }
    .radial-menu{
        width: 20%;
        height: 200px;
    }
}