.slide-section {
    margin: 0;
    width: 100%;
    height: 80%;
}

.img2 {
    width: 100%;
    height: 630px;
}

.section-about {
    width: 100%;
    height: 400px;
    background: #FAFAFA url(/static/images/banner.svg) bottom center no-repeat;
    background-attachment: fixed;
    padding: 10px 0px 60px;
    margin: 0;
    display: block;
}

.l-img {
    width: 80px;
    height: auto;
}

.icon-box {
    position: relative;
    width: 160px;
    height: 92.38px;
    background-color: transparent;
    margin-top: 5%;
    margin-bottom: 80px;
    margin-left: 67px;
    padding: 20px 0;
    border-left: solid 3px #ddd;
    border-right: solid 3px #ddd;
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    -ms-transform: translateZ(0px);
    -o-transform: translateZ(0px);
    transform: translateZ(0px);
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    -o-transition-property: transform;
    transition-property: transform;
}

.icon-box:hover {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}

.icon-box:before,
.icon-box:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 113.14px;
    height: 113.14px;
    background-color: inherit;
    left: 20.4315px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -moz-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    -o-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
}

.icon-box:before {
    top: -56.5685px;
    border-top: solid 4.2426px #ddd;
    border-right: solid 4.2426px #ddd;
}

.icon-box:after {
    bottom: -56.5685px;
    border-bottom: solid 4.2426px #ddd;
    border-left: solid 4.2426px #ddd;
}

.w-size {
    position: relative;
    top: 15%;
}

.lmargin {
    margin-left: 6.15%;
}

/*liquid button*/
.btn-liquid {
    display: inline-block;
    position: relative;
    width: 140px;
    height: 60px;
    border-radius: 27px;
    color: #fff;
    font: 700 14px/60px "Droid Sans", sans-serif;
    letter-spacing: 0.05em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-liquid .inner {
    position: relative;
    z-index: 2;
}

.btn-liquid canvas {
    position: absolute;
    top: -50px;
    right: -50px;
    bottom: -50px;
    left: -40px;
    z-index: 1;
}

/*=============================================
fecture
================================================*/
/*Our services starts*/
#main {
    padding-bottom: 60px;
    background-color: #FAFAFA;
}

#main .feature .pic {
    transition: all linear 0.4s;
}

#main .major h2 {
    margin: 0 0 80px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3px;
    color: #000;
}

#main .major1 h2 {
    margin: 40px 0 80px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3px;
    color: #000;
}

#main .major h2::after {
    background: #c5159f;
    content: '';
    height: 1px;
    left: 12%;
    position: absolute;
    top: 82%;
    width: 74%;
    animation: 0;
}

#main .major1 h2::after {
    background: #1a70aa;
    content: '';
    height: 1px;
    left: 12%;
    position: absolute;
    top: 82%;
    width: 74%;
    animation: 0;
}

#main .feature .pic a {
    text-align: center;
    margin-left: 160px;
    transition: all linear 0.4s;
    font-size: 65px;
    color: green;
    z-index: 99;
}

#main .feature .pic:hover a {
    transform: scale(1.3);
}

/*
#main .feature .pic:hover {
    background: url(../images/overlay.png);
}
*/
/*url(../images/pic01.jpg) center no-repeat*/
#main .feature .pic {
    padding: 130px 0;
}

#main .feature h3 {
    margin-top: 80px;
    margin-bottom: 20px;
    padding-right: 30px;
    color: #fff;
}

#main .feature p {
    line-height: 30px;
    color: #fff;
}

#main .feature .left p {
    padding-left: 60px;
    padding-right: 30px;
    font-size: 14px;
}

#main .feature .rightext h3 {
    padding-left: 30px;
    padding-right: 60px;
}

#main .feature .about_border h3::before {
    background: #c6c6c6;
    content: '';
    height: 1px;
    left: -75%;
    position: absolute;
    top: 108%;
    width: 100%;
}

#main .feature .about_border h3::after {
    background: #c6c6c6;
    content: '';
    height: 1px;
    left: -75%;
    position: absolute;
    top: 110%;
    width: 100%;
}

#main .feature .righte p {
    padding-left: 30px;
    padding-right: 60px;
    font-size: 14px;
}

#main .header:before {
    background: rgba(128, 239, 188, 0.75);
    content: '';
    height: 1%;
    left: 0%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

#main .header:after {
    background: rgba(255, 255, 255, 0.75);
    content: '';
    height: 1%;
    left: 0%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

/*new*/
/*Our services ends*/
.bg-tech {
    position: relative;
    background: #fff;
}

.bg-program {
    width: 100%;
    height: 400px;
    background: #fff url('/static/images/socila-bg.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*getintouch starts*/
#getintouch h3 {
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-transform: capitalize;
}

#getintouch p {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-transform: capitalize;
}

#getintouch {
    padding: 40px 0;
    background: #339b73;
}

#getintouch {
    width: 100%;
    height: 550px;
}

#getintouch h2 {
    text-align: center;
    color: #fff;
}

#getintouch .button {
    border-radius: 5px;
    padding: 6px 26px;
    margin-top: 10px;
    background: 0;
}

#getintouch .fields {
    margin-bottom: 20px;
}

#getintouch .fields label {
    color: #fff;
    display: inline-block;
    border-radius: 4px;
}

#getintouch .fields .intouch {
    height: 35px;
    width: 315px;
    border-radius: 4px;
}

#getintouch .fields .msg_intouch {
    height: 130px;
    width: 315px;
    border-radius: 4px;
}

#getintouch ul {
    margin-top: 20px;
    list-style: none;
}

#getintouch ul li i {
    display: block;
    color: #fff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
}

#getintouch ul li p {
    color: #fff;
    margin-left: 45px;
    margin-top: -28px;
}

#getintouch ul li p a {
    color: #fff;
}

.footer-bar {
    background-color: rgb(36, 38, 46);
    width: 100%;
    height: 40px;
    padding-top: 5px;
}

.footer-text {
    width: 400px;
    margin-top: .5%;
    height: auto;
    color: #fff;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Oswald', sans-serif;
}

.bg-damp {
    background-color: #4eb46d;
    opacity: .7;
    -webkit-box-shadow: 10px 2px 38px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 2px 38px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 2px 38px -10px rgba(0, 0, 0, 0.75);
}

.bg-damw {
    background-color: #834eb4;
    opacity: .7;
    -webkit-box-shadow: -15px -2px 38px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -15px -2px 38px -10px rgba(0, 0, 0, 0.75);
    box-shadow: -15px -2px 38px -10px rgba(0, 0, 0, 0.75)
}

.bg-damx {
    background-color: #b47f4e;
    opacity: .7;
    -webkit-box-shadow: 10px 2px 38px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 2px 38px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 2px 38px -10px rgba(0, 0, 0, 0.75);
}

.bg-damp1 {
    background-color: #AFB42B;
    opacity: .7;
    -webkit-box-shadow: 10px 2px 38px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 2px 38px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 2px 38px -10px rgba(0, 0, 0, 0.75);
}

.bg-damw1 {
    background-color: #5D4037;
    opacity: .7;
    -webkit-box-shadow: -15px -2px 38px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -15px -2px 38px -10px rgba(0, 0, 0, 0.75);
    box-shadow: -15px -2px 38px -10px rgba(0, 0, 0, 0.75)
}

.bg-damx1 {
    background-color: #64B5F6;
    opacity: .7;
    -webkit-box-shadow: 10px 2px 38px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 2px 38px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 2px 38px -10px rgba(0, 0, 0, 0.75);
}

/*getintouch ends */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(65, 185, 169);
    color: white;
    cursor: pointer;
    padding: 20px;
    border-radius: 40%;
    opacity: .6;
}

#myBtn:hover {
    background-color: rgb(85, 85, 85);
}

.l-size {
    margin-top: 22%;
}

.l-size:hover {
    margin-top: 25%;
}

.cons {
    width: 700px;
    margin-left: 30%;
    margin-right: auto;
}

.footer-up {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #2f3236;
}

.cus-card {
    position: relative;
    top: -9%;
    left: 10%;
    width: 100%;
    margin: 0;
    height: 250px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 1px 9px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 9px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 9px -8px rgba(0, 0, 0, 0.75);
}

.cus-card1 {
    position: relative;
    top: -12%;
    width: 100%;
    margin: 0;
    height: 260px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 1px 9px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 9px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 9px -8px rgba(0, 0, 0, 0.75);
    z-index: 99;
    border-bottom: 5px solid orangered;
}

.cus-card2 {
    position: relative;
    top: -9%;
    right: 10%;
    width: 100%;
    margin: 0;
    height: 250px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 1px 9px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 9px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 9px -8px rgba(0, 0, 0, 0.75);
}

.cus-card2:hover {
    top: -12%;
    border-bottom: 5px solid orangered;
}

.cus-card:hover {
    top: -12%;
    border-bottom: 5px solid orangered;
}

.w-sizer {
    width: 97%;
    margin-right: auto;
    margin-left: auto;
}

.slogan {
    position: relative;
    left: 30%;
    top: 6%;
    margin: 3%;
    width: 100px;
    height: auto;
}

.slogan-div {
    position: relative;
    display: inline;
    width: 100%;
    height: auto;
    margin: 3%;
}

.h4-center {
    margin-top: 10%;
    width: 100%;
    font-size: 25px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #000;
}

.slogan-p {
    margin-left: 15%;
}

form {
    position: relative;
    top: -10%;
    width: 80%;
    height: 250px;
}

label {
    color: #fff;
    font-size: 18px;
}

.uparea {
    position: relative;
    z-index: 99;
}

.about-main {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #6e30e2;
    -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}

.about-main1 {
    position: absolute;
    right: 0;
    width: 100%;
    height: 400px;
    background-color: #1a70aa;
    -webkit-clip-path: polygon(45% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(45% 0, 100% 0, 100% 100%, 0 100%);
}

.dot-net {
    position: absolute;
    top: 15%;
    left: 2%;
    width: 300px;
    height: auto;
}

.dot-net1 {
    position: absolute;
    top: 0;
    right: 12%;
    width: 400px;
    height: auto;
}

.textStyle {
    font-family: 'Indie Flower', cursive;
    font-size: 22px;
    text-align: justify;
    text-justify: inter-word;
}

.title {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    font-weight: 500;
    color: crimson;
}

.footer-ul {
    position: relative;
    top: 30%;
}

.footer-list {
    list-style: none;
}

.footer-list a {
    color: #c6c6c6;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height: 2;
}

.footer-list a:hover {
    color: #568489;
    font-size: 25px;
    text-decoration: none;
}

.img-side {
    width: 400px;
    height: 300px;
    margin-left: 20%;
}

.subtitle {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: crimson;
}

.btn-a {
    float: right;
    color: #fff;
    border: .5px solid white;
}

.btn-a1 {
    float: left;
    color: #fff;
    border: .5px solid white;
}

.footer-logo-l{
   padding: 10% 0 0 20%;
}
.footer-logo {
    margin-left: 20%;
    width: 75px;
    height: 5rem;
}

.footer-logo-text {
    color: #339b73;
    font-family: 'Oswald', sans-serif;
}

.footer-logo-text span {
    margin: 5px;
    color: #fff;
}

.card-custom {
    margin: 2% 0 2% 0;
    width: 100%;
    height: auto;
    color: #fff;
    padding: 3% 10% 3% 10%;
    font-size: 20px;
    text-align: justify;
}

.card-bg1 {
    background-color: #339b73;
}

.card-bg2 {
    background-color: #5D4037;
}

.card-bg3 {
    background-color: #64B5F6;
}

.card-bg4 {
    background-color: #AFB42B;
}

.card-bg5 {
    background-color: #834eb4;
}

.card-bg6 {
    background-color: #b47f4e;
}