* {
    margin: 0;
}

/*====================================================
Splash Screen
======================================================*/

.splash-align {
    background-image: url('/static/images/loder-front.svg');
    width: 10rem;
    height: 10rem;
    background-size: 100% auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
}

/*=======================================================
header
==========================================================*/

header {
    position: relative;
    background-color: rgb(38, 51, 58);
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
    z-index: 99;
}

/*========================================================
logo
==========================================================*/

.logo {
    position: absolute;
    top: 20%;
    left: 15%;
    margin-left: 2rem;
    width: 50px;
    height: 3rem;
}
.logo-text{
    position: absolute;
    top: 30%;
    left: 30%;
    margin-left: 2rem;
    width: 70%;
    height: 3rem;
    color: #fff;
    font-family: 'Oswald', sans-serif; 
}
.logo-text span{
    color: green;
    margin-left: 5%;
}
/*============================================
    navbar
==============================================*/
.navCustom {
    display: inline-block;
    text-align: center;
    padding: 18px 5px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/*font-family: 'Merriweather', serif;*/
.font-color{
    color: #000;
}

nav {
    height: 80px;
}

/* button hover style if required background-color: rgb(80, 163, 80); */

.navCustom:hover {
    background-color: rgb(80, 163, 80);
    text-decoration: none;
    font-size: 20px; 
    color:#000;
}
