{% extends 'base.html' %}
{% load staticfiles %}

{% block _body %}
<section class="news-header pt-5">
    <h1 class="display-1 text-light text-center">NEWS</h1>

</section>
   
<div class="container">
    <div>
        <ul class="top-m">
            {% for obj in object_list %}

            <li class="card mt-2" data-aos="flip-left">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="{{obj.image.url}}" class="img-fluid rounded" alt="">
                        </div>
                        <div class="col">
                            <h3 class="card-title">{{obj.title}} </h3>
                            <p class="card-text">{{obj.subdescription}}</p>
                            <a href="{{obj.id}}" class="btn btn-outline-secondary mt-5 float-right">Read More</a>
                        </div>
                    </div>

                </div>

            </li>

            {% endfor %}
        </ul>
    </div>

</div>

{% endblock _body %}