{% extends 'appbase.html' %}
{% load staticfiles %}

{% block _body %}
<div class="row">
    <div class="col">
        <!--about Header Start-->
        <section class="about-header">

        </section>
        <!--about Header end-->
          <!--About Main start-->
          <section id="main">
            <div class="container p-0">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="major header container medium p-0">
                            <h2 class="title mt-4">About Us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="a" class="container">
            <div class="container">
                    <div class="row">
                            <div class="col">
                                <div class="mt-4" data-aos="zoom-in">
                                    
                                    <p class="about-textStyle"> <span class="subtitle">We are civilian!</span> We started our journey in
                                        Malaysia for the
                                        first time. Our group members were very
                                        dedicated to their skills and started working very hard and passionate from the very
                                        beginning
                                        of “Civilized technologies” back in ‘2015’ month of ‘February’. Our aim was to serve our
                                        nation with
                                        our
                                        expertise in Technology. We used to believe; that we are able to give technological
                                        services
                                        in highest global scale, we focused to the development of security, assessment to the
                                        modern
                                        life and how to develop society in the long way to modern life cycle. Well, the step was
                                        not
                                        so easy for us. But our promising ambition to the world has always kept us one step ahead
                                        and
                                        we managed to give best to our clients.
                                    </p>
                                    <p class="about-textStyle">Civilized has always believed in providing its customers with total
                                            solution services. Civilized
                                            goal is to be the best business partner to client by helping them create more value in
                                            their
                                            businesses. Besides providing creative products and services that are most reliable,
                                            innovative
                                            and of the highest quality, Civilized's customers can also be assured of its competitively
                                            priced
                                            products. The value creation is further enhanced by Civilians strong emphasis on customer
                                            orientation
                                            to understand the needs of its different customers and offering them a broad range of
                                            services
                                            to help adding value to their businesses.
                
                                        </p>
                                </div>
            
                            </div>
                        </div>
            </div>
            
        </section>
        <!--About Main end-->
    </div>
</div>
          
{% endblock _body %}
    