j{% extends 'appbase.html' %}
{% load staticfiles %}


{% block _body %}


<div class="row">
    <div class="col">
        <!--about Header Start-->
        <section class="about-header">

        </section>
        <!--about Header end-->
        <!--About Main start-->
        <section id="main">
            <div class="container p-0">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="major header container medium p-0">
                            <h2 class="title mt-4">Jobs and Career</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--jobs Body Start-->
        <section>
            <div class="row">
                <div class="col-md-4">
                    
                 
                </div>
        </section>
        <!--jobs Body End-->

    </div>
</div>


{% endblock _body %}