{% extends 'appbase.html' %}
{% load staticfiles %}

{% block _body %}
<div class="row">
    <div class="col">
        <!--about Header Start-->
        <section class="about-header">

        </section>
        <!--about Header end-->
        <!--About Main start-->
        <section id="main">
            <div class="container p-0">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="major header container medium p-0">
                            <h2 class="text-center mt-4">Privacy and policy</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="a" class="container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="mt-4" data-aos="zoom-in">

                            <p class="about-textStyle">
                                Civilized technologies limited company always allows their clients to visit official
                                website any time from any devices. Civilized will not interact with any of your
                                personal information. The privacy policy pertains to the website describes how personal
                                information may not be threaten. You may access and browse the website without
                                revealing any of your personal information unless you try to hack or track us through
                                the website. We may collect some information such as your email address, name, and
                                phone number while you send us messages, email. Civilized will collect your personal
                                information through the submission of CV in purpose of recruitment. We are committed to
                                not revealing your personal information for your security purposes to any third party
                                or unknown.

                            </p>
                            <span class="subtitle">Use of cookies</span>
                            <p class="about-textStyle">

                                We understand the importance of safety of your personal information. We are not really
                                interested to be harmful for your information. If it is collected, only for
                                improvements of user experiences. The personal cookies will not hand over to any third
                                party from any perspective of uses. We make sure the restriction and security against
                                theft of information.


                            </p>
                        </div>

                    </div>
                </div>
            </div>

        </section>
        <!--About Main end-->
    </div>
</div>

{% endblock _body %}